@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: rgb(255, 255, 255);
    word-break: keep-all;
    word-wrap: break-word;
}

a:link { color: default; text-decoration: none;}
a:visited { color: default; text-decoration: none;}
a:hover { color: default; text-decoration: none;}

.bar {
    position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 1600px;
	height: 60px;
    background-color: rgb(39, 28, 28);
    border-bottom: 0.5px solid rgb(51, 51, 51);
}

.bar-logo {
    height: 24px;
    margin: 10px 4px;
}

.bar-logo-image {
    position: absolute;
    vertical-align: middle;
    height: 24px;
    margin: 0 12px 4px 0;
	-moz-user-select: none;
   	-khtml-user-select: none;
   	-webkit-user-select: none;
   	-ms-user-select: none;
   	user-select: none;
}
.bar>.bar_container{
	position: absolute;
	top: 16px;
	right: 64px;
    line-height: 40px;
    display: inline;
    vertical-align: middle;
}

.bar_container li.item {
	display: inline-block;
	padding-left: 18px;
	font-weight: bold;
	font-size: .9rem;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.bar_container li.item > a {
    font-family: "Noto Sans KR", sans-serif;
	color: rgb(255, 255, 255);
	text-decoration: none;
}

.bar-logo-text {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: rgb(34, 34, 34);
    display: inline;
    vertical-align: middle;
}

@media (min-width: 768px) {
    .bar-logo {
        height: 20px;
        margin: 24px;
    }

    .bar-logo-image {
        height: 24px;
        margin: 0 12px 4px 0;
    }

    .bar-logo-text {
        font-weight: 700;
    font-size: 20px;
    }
}

div.main-contents {
    position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 1600px;
	height: 260px;
    background-color: rgba(37, 7, 7, 0.904);
	margin-top: 60px;
	line-height: 1.4;
}

div.main_title {
	font-size: 4rem;
	font-weight: bold;
	letter-spacing: -0.05ch;
	line-height: 0.9;
    margin-bottom: 32px;
    font-family: "Noto Sans KR", sans-serif;
}

.container-fluid {
    padding: 0;
}

.main-title {
    margin-top: 36px;
    font-size: 48px;
    font-weight: 300;
    color: #ffffff;
}

.main-title span {
    font-size: 72px;
    font-weight: 700;
    color: #b41232
}

.main-subtitle {
    margin-top: 8px;
    font-size: 10px;
    font-weight: 300;
    color: #505050;
}

.main-button {
    margin-top: 54px;
    font-size: 12px;
    font-weight: 600;
    color: #ffd900;
    display: block;
}

@media (min-width: 768px) {
    .main-row {
        height: 400px;
    }

    .main-title {
        margin-top: 36px;
        font-size: 48px;
        font-weight: 300;
        color: #ffffff;
    }

    .main-subtitle {
        margin-top: 8px;
        font-size: 10px;
        font-weight: 300;
        color: #4b4b4b;
    }

    .main-button {
        margin-top: 72px;
        font-size: 20px;
    }
}
