@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: rgb(255, 255, 255);
    word-break: keep-all;
    word-wrap: break-word;
}

#sidebar {
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    padding: 0;
    height: 100%
}

a:link { color: default; text-decoration: none;}
a:visited { color: default; text-decoration: none;}
a:hover { color: default; text-decoration: none;}

.bar {
    position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 1600px;
	height: 60px;
    background-color: rgb(39, 28, 28);
    border-bottom: 0.5px solid rgb(51, 51, 51);
}

.bar-logo {
    height: 24px;
    margin: 10px 4px;
}

.bar-logo-image {
    position: absolute;
    vertical-align: middle;
    height: 24px;
    margin: 0 12px 4px 0;
	-moz-user-select: none;
   	-khtml-user-select: none;
   	-webkit-user-select: none;
   	-ms-user-select: none;
   	user-select: none;
}
.bar>.bar_container{
	position: absolute;
	top: 16px;
	right: 64px;
    line-height: 40px;
    display: inline;
    vertical-align: middle;
}

.bar_container li.item {
	display: inline-block;
	padding-left: 18px;
	font-weight: bold;
	font-size: .9rem;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.bar_container li.item > a {
    font-family: "Noto Sans KR", sans-serif;
	color: rgb(255, 255, 255);
	text-decoration: none;
}

.bar-logo-text {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: rgb(34, 34, 34);
    display: inline;
    vertical-align: middle;
}

@media (min-width: 990px) {
    .bar-logo {
        height: 20px;
        margin: 24px;
    }

    .bar-logo-image {
        height: 24px;
        margin: 0 12px 4px 0;
    }

    .bar-logo-text {
        font-weight: 700;
    font-size: 20px;
    }
}

div.main-contents {
    position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 1600px;
	height: 260px;
    background-color: rgba(37, 7, 7, 0.904);
	margin-top: 60px;
	line-height: 1.4;
}

div.main-title {
	font-size: 4rem;
	font-weight: bold;
	letter-spacing: -0.05ch;
	line-height: 0.9;
    margin-bottom: 32px;
    font-family: "Noto Sans KR", sans-serif;
}

.main-title {
    margin-top: 36px;
    font-size: 48px;
    font-weight: 300;
    color: #ffffff;
}

.main-title span {
    font-size: 72px;
    font-weight: 700;
    color: #b41232
}

.main-subtitle {
    margin-top: 8px;
    font-size: 10px;
    font-weight: 300;
    color: #505050;
}

@media (min-width: 779px) {
    .main-row {
        height: 260px;
    }

    .main-title {
        margin-top: 36px;
        font-size: 48px;
        font-weight: 300;
        color: #ffffff;
    }

    .main-subtitle {
        margin-top: 8px;
        font-size: 10px;
        font-weight: 300;
        color: #4b4b4b;
    }
}

.sub {
    padding-left: 40px;
    padding-right: 40px;
    margin-left: auto;
    margin-right: auto;
    overflow-x:auto;
    overflow-y:auto;
}

.sub-content {
    margin-top:30px;
    margin-bottom: 25px;
    line-height: 25px;
    overflow-x:auto;
    overflow-y:auto;
}

.sub-content-row {
    margin-top: 0;
    margin-bottom: 0;
    overflow-x:auto;
    overflow-y:auto;
    padding-top: 30px;
    -webkit-overflow-scrolling: touch;
    position: relative;
    
}

.sub-content-box {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
}

.sub-content-col {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex: 0 1 33%;
    margin-left: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -webkit-flex: 0 1 33%;
}

.sub-content-title {
    margin-bottom: 20px;
    color: #6d6d6d;
    padding-top: 0;
    font-weight: 300;
    font-size: 20px;
}

.sub-content-image {
    height: 180px;
    width: 240px;
    margin: 0 12px 4px 0;
}

.sub-content > p {
    margin-top: 30px;
    font-size: 17px;
    line-height: 1.7;
    max-width: 42em;
}

.sub-content > h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

@media (max-width: 779px){
    .sub-content-row {
        margin-top: 0;
        margin-bottom: 0;
        overflow-x:auto;
        overflow-y:auto;
        padding-top: 30px;
        -webkit-overflow-scrolling: touch;
        position: relative;
        mask-image: -webkit-linear-gradient(to right, transparent, white 10px, white 90%, transparent);
        mask-image: -moz-linear-gradient(to right, transparent, white 10px, white 90%, transparent);
        mask-image: linear-gradient(to right, transparent, white 10px, white 90%, transparent);
        -webkit-mask-image: -webkit-linear-gradient(to right, transparent, white 10px, white 90%, transparent);
        -webkit-mask-image: -moz-linear-gradient(to right, transparent, white 10px, white 90%, transparent);
        -webkit-mask-image: linear-gradient(to right, transparent, white 10px, white 90%, transparent);
    }
    .sub-content-box {
        margin-top: 20px;
        display: block;
        white-space: nowrap;
    }

    .sub-content-col:first-of-type {
        margin-left: 10px;
        margin-top: 0;
    }

    .sub-content-col {
        display: inline-block;
        vertical-align: top;
        margin-left: 0;
        white-space: normal;
        width: 75%;
        margin-right: 20px;
        padding-bottom: 40px;
    }

    .sub-content-image {
        height: 120px;
        width: 240px;
        margin: 0 12px 4px 0;
    }

    .sub-content > p {
        font-size: 16px;
        margin-top: 25px;
    }
}

.footer {
    clear: both;
    margin: 0;
    padding: 0;
    background: #313131;
    position: relative;
    bottom: 0;
    height: 120px;
    width: 100%;
    color: white;
    font-family: "Noto Sans KR", sans-serif;
}

.footer .section {
    position: relative;
    font-weight: 300;
}

.footer > .section > .inside {
    position: relative;
    margin: 0 auto;
}

.footer .add_sec {
    border-top: 1px solid #3C3C3C;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.footer .add_sec .info .address {
    margin-top: 3px;
    font-size: 11px;
    letter-spacing: -0.1em;
}

.footer .add_sec .info .contact {
    margin-top: 6px;
    font-size: 11px;
}

.footer .add_sec .info .copyright {
    margin-top: 6px;
    font-size: 10px;
}

@media (max-width: 779px){
    .footer .section {
        padding: 0 40px;
        font-weight: 300;
    }

    .footer .section > .inside {
        width: auto;
    }

    .footer .add_sec {
        border-top: 1px solid #3C3C3C;
        padding-top: 20px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .footer .add_sec .info .address {
        margin-top: 3px;
        font-size: 11px;
        letter-spacing: -0.1em;
    }

    .footer .add_sec .info .contact {
        margin-top: 6px;
        font-size: 11px;
    }

    .footer .add_sec .info .copyright {
        margin-top: 6px;
        font-size: 10px;
    }
}