{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CNU</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'main/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/about.css' %}">
</head>
<body>
    <nav class="bar navbar navbar-expand-lg navbar-light">
        <div class="bar-logo">
            <a href="http://127.0.0.1:8000/">
            <img class="bar-logo-image" src="{% static 'cnu.png' %}">
            </a>
        </div>
        <div class="bar_container">
            <ul>
                <li class="item"><a href="/about">About</a></li>
                <li class="item"><a href="/manage">Lab Manage</a></li>
                <li class="item"><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </nav>

    <div class="main-contents">
        <div class="row main-row justify-content-center">
            <div class="main-front col-11 col-md-8">
                <h1 class="main-title">
                    안녕하세요<br><span>CNU</span>입니다.
                </h1>
                <p class="main-subtitle">: CNU는 Computer aNd Us의 줄임말입니다.</p>
            </div>
        </div>
    </div>
    
    <div class='text'>
        <div class='text_container'>
            <div class='box'>
                <div class='row'>
                    <div class='col-sm-3'>
                        <h2>스터디</h2>
                    </div>
                    <div class='col-sm-8'>
                        <p>거의 모든 새내기들이 입학하고 처음 C언어를 접하게 됩니다!</p>
                        <p>수업 때 놓치거나 물어보고 싶은 것들이 생길 수 있어요!
                        이런 경우에 대비해 새내기 분들을 위해 스터디를 진행할 예정입니다.
                        스터디로 실력도 보충하고 선배들에게 물어보면서 친해지는 기회가 될 거 에요!
                        스터디가 아니더라도 랩실에 있는 선배들에게 모르는 것을 물어보며 많은 도움을 얻을 수 있습니다!</p>
                        <p>어려워하지 마세요!</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class='box'>
                <div class='row'>
                    <div class='col-sm-3'>
                        <h2>랩실 관리</h2>
                    </div>
                    <div class='col-sm-8'>
                        <p>CNU는 R관(리찌과학관) 9층에 위치한 컴퓨터공학과 실습실(혹은 랩실) R912를 관리합니다.</p>
                        <p>컴퓨터공학과 학생들에게만 제공되는 랩실 4개중 가장 큰 랩실이에요!
                        수업도 많이 이루어지며 관리자실도 따로 있기 때문에 공강시간에 공부하며 시간을 보내기 좋은 랩실입니다.
                        학회에 들어오게 되면 필수적으로 꼭 랩실을 관리 해야합니다. 랩실 관리라고 어려운 것이 아니에요.</p>
                        <p>함께 책임감있게 랩실을 관리해요!</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class='box'>
                <div class='row'>
                    <div class='col-sm-3'>
                        <h2>MT, 회식</h2>
                    </div>
                    <div class='col-sm-8'>
                        <p>CNU의 자랑거리 회식과 MT입니다!</p>
                        <p>저희는 매 스터디/대청소가 끝난 후, 혹은 각 총회가 끝난 뒤 항상 고기와 함께합니다.
                        또한 여름/겨울 MT, 소풍과 같은 다양한 활동들을 기획 중에 있습니다! 
                        작년의 경우에는 여름 MT로 가평에 가서 수상레저를 하며 놀고 왔어요!(+저녁 메뉴 소고기.)
                        </p>
                        <p>CNU와 함께 많이 놀러갑시다~</p>
                    </div>
                </div>
            </div>     
        </div>
    </div>

    <div class='footer'>
        <div class='section add_sec'>
            <div class='inside'>
                <div class='info'>
                    <div class='address'>
                        <div class='row'>
                            <div class='col-sm-4'>
                                Sogang Univ. CSE CNU
                            </div>
                            <div class='col-sm-6'>                                    
                                04107 서울특별시 마포구 백범로 35(신수동) 
                                서강대학교 리찌과학관(R) 912호 컴퓨터공학과
                            </div>
                        </div>
                    </div>
                    <div class='contact'>
                        <div class='row'>
                            <div class='col-sm-4'>
                                Contact
                            </div>
                            <div class='col-sm-6'>
                                학회장   <a href="mailto:mymelody126@naver.com">(mymelody126@naver.com)</a><br>
                                부학회장 <a href="mailto:rnldudns98a@naver.com">(rnldudns98a@naver.com)</a><br>
                            </div>
                        </div>
                    </div>
                    <div class='copyright'>
                       Copyright © 2019 CNU All rights reserved.
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>