{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CNU</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'main/index.css' %}">
</head>
<body>
    <nav class="bar navbar navbar-expand-lg navbar-light">
        <div class="bar-logo">
            <a href="http://127.0.0.1:8000/">
            <img class="bar-logo-image" src="{% static 'cnu.png' %}">
            </a>
        </div>
        <div class="bar_container">
        <ul>
            <li class="item"><a href="/about">About</a></li>
            <li class="item"><a href="/manage">Lab Manage</a></li>
            <li class="item"><a href="/contact">Contact</a></li>
        </ul>
    </div>
    </nav>

    <div class="main-contents">
        <div class="row main-row justify-content-center">
            <div class="main-front col-11 col-md-8">
                <h1 class="main-title">
                    안녕하세요<br><span>CNU</span>입니다.
                </h1>
                <p class="main-subtitle">: CNU는 Computer aNd Us의 줄임말입니다.</p>
            </div>
    </div>
    <div class="sub">
        <div class='sub-content'>
            <section class='sub-content-row'>
                <div class='sub-content-box'>
                    <div class='sub-content-col'>
                        <h3 class='sub-content-title'>Manage</h3>
                        <div>
                            <p>
                                "여러분이 수업을 듣는 랩실을 직접 관리합니다."
                            </p>
                            <p>
                                CNU는 R관(리찌과학관) 9층에 있는 컴퓨터 공학과 학생들에게 제공되는 랩실 중에 가장 큰 랩실을 관리합니다.
                                가장 큰 랩실이기 때문에 많은 수업들이 진행되며, 관리자 실도 따로 있습니다.
                                함께 책임감 있게 랩실을 운영해요!
                            </p>
                            <!--<p>
                                <img class="sub-content-image" src="{% static 'r912.jpg' %}">
                            </p>
                            -->
                        </div>
                    </div>
                    <div class='sub-content-col'>
                        <h3 class='sub-content-title'>Social</h3>
                        <div>
                            <p>
                                "저는 소고기가 먹고 싶어요."
                            </p>
                            <p>
                                CNU라 쓰고 회식이라 읽습니다. 저희는 매 스터디/대청소가 끝난 후, 혹은 각 총회 뒷풀이에서 고기와 함께합니다.
                                또한 여름/겨울 MT같이 다양한 행사도 진행하고 있어요!
                            </p>
                            <!--
                            <p>
                                <img class="sub-content-image" src="{% static 'MT.jpg' %}">
                            </p>
                            -->
                        </div>
                    </div>
                     <div class='sub-content-col'>
                        <h3 class='sub-content-title'>Study</h3>
                        <div>
                            <p>
                                "어서 와, C언어는 처음이지?"
                            </p>
                            <p>
                                괜찮아요! C언어를 처음 접하는 새내기 분들을 위해 스터디를 진행하며 수업시간에 이해하지 못했던 부분이나 어려웠던 부분들을 선배들에게 물어볼 수 있어요!
                                실력도 보충하고, 선배들과 친해질 수 있습니다! 랩실 곳곳에 있는 선배님들께도 도움을 구해봐요!<br>
                            </p>
                            <!--
                            <p>
                                <img class="sub-content-image" src="{% static 'study.jpg' %}">
                            </p>
                            -->
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <footer>
    <div class='footer'>
        <div class='section add_sec'>
            <div class='inside'>
                <div class='info'>
                    <div class='address'>
                        <div class='row'>
                            <div class='col-sm-4'>
                                Sogang Univ. CSE CNU
                            </div>
                            <div class='col-sm-6'>
                                04107 서울특별시 마포구 백범로 35(신수동) 
                                서강대학교 리찌과학관(R) 912호 컴퓨터공학과
                            </div>
                    </div>
                    <div class='contact'>
                        <div class='row'>
                            <div class='col-sm-4'>
                                Contact
                            </div>
                            <div class='col-sm-6'>
                                황윤조 tel: 010-2421-9128<br>
                                안현석 te1: 010-2054-2182
                            </div>
                    </div>
                    <div class='copyright'>
                        Copyright © 2019 CNU All rights reserved.
                    </div>
                </div>
            </div>
        </div>
    </div>
    </footer>


</body>
</html>