.member-title-eyebrow {
    font-weight: 300;
    font-size: 16px;
    color: white;
    margin-top: 36px;
}

.member-hero {
    font-size: 18px;
    color: white;
    margin-top: 4px;
}

.member-copy {
    font-weight: 300;
    font-size: 16px;
    color: white;
    margin-top: 32px;
    width: 70%;
}

.list-container {
    background-color: #EEE;
}

.list-row:last-child {
    padding-bottom: 36px;
}

.list-box {
    margin: 16px 12px 0px;
    box-shadow: 0 16px 64px #0003;
    background-color: white;
    border-radius: 4px;
}

.list-box-name {
    font-weight: 600;
    font-size: 18px;
    color: black;
    margin: 24px 0 12px
}

.list-box-number {
    font-size: 12px;
    font-style: italic;
    color: #666;
    margin: 4px 0 4px;
}

.list-box-data {
    font-size: 14px;
    font-weight: 450;
    color: #666;
    margin: 0 0 6px;
}

.list-box-summary {
    border-top: black solid 0.5px;
    padding-top: 12px;
    font-size: 14px;
    color: #222;
}

.list-box-link {
    margin: 0 0 24px;
    font-weight: 500;
    font-size: 12px;
    color: #ff8600;
    display: block;
}

.list-fav-img{
    height: 16px;
}
